iframe
{
    margin-left: 285px;
    margin-top: 62px;
}

h1, h3, p
{
    color: white;
}

.results
{
    background: url('https://s3.amazonaws.com/wp_media-prod/app/uploads/2014/12/19185627/movie_theatre.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.moviePic
{
    height: 75%;
    width: 55%;
    vertical-align: middle;
}