.voting_screen
{
    display: grid;
}


.genre_card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 1 1 auto;
    flex-direction: column;
	margin: 10px auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	background-color: #c9d1ed;
}

.genre_card_container
{
    flex: 0 0 195px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 10px;
    text-align: center;
    height: 60%;
    background-color: #eff2fa
    
}

img
{
    width: 100%;
    
}