.voting_screen
{
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    align-items: center;
    align-content: flex-start;
    padding: 180px;
    background: -webkit-linear-gradient(to right, #c31432, #240b36); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.genre_card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    flex: 1 1 15%;
    flex-direction: column;
	margin: 10px auto;
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	background-color: #c9d1ed;
	text-align: center;
}

.genre_card_container
{
    flex: 0 0 195px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 95%;
    margin: 10px auto;
    text-align: center;
    height: 60%;
    background-color: #eff2fa
    
}

img
{
    width: 100%;
    
}

h2
{
    color: white;
}